<?xml version='1.0'?>

<model>
  <name>Cabo de retinida maritma</name>
  <version>0.1.0</version>
  <sdf version='1.6'>model_retinida.sdf</sdf>
  <author>
    <name>Gabryel Silva Ramos</name>
    <email>gabryelsr@gmail.com</email>
  </author>
  <description>
    This model approximates a marine messenger line.
  </description>
</model>
