<?xml version="1.0"?>

<model>
  <name>fpso_turret</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Gabryel Silva Ramos</name>
    <email>gabryelsr@gmail.com</email>
  </author>

  <description>
    Uma plataforma tipo FPSO com turret.
  </description>
</model>
